<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[first_name]] [[last_name]]</h2>
    <h3>email: [[email]]</h3>

    <template is="dom-repeat" items="{{accounts}}">
        <div># <span>[[index]]</span></div>
        <div>IBAN: <span>[[item.iban]]</span></div>
        <div>Balance: <span>[[item.balance]]</span></div>
    </template>

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @VisorCuenta
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        console.log('> VisorCuenta called ...')
        return {
          id: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          gender: {
            type: String
          },
          accounts: {
            type: Array,
            items: {
              type: Object,
              properties: {
                iban: {type: String},
                balance: {type: Number}
              }
            }
          }
        };
      }

      showData(data) {
        console.log("> showData called...");
        console.log(data.detail);
        console.log(data.detail.response);
        console.log(data.detail.response.accounts[0]);
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
        this.accounts = data.detail.response.accounts;
      }
      showError(err) {
        console.log("> showError called...");
        console.log(err.detail);
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
