<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-cuenta/visor-cuenta.html">

<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <h1 class="jumbotron">Test Iron Pages</h1>
    <select value="{{componentName::change}}">
      <option value=" "></option>
      <option value="login-usuario">Login Usuario</option>
      <option value="visor-cuenta">Visor Usuario</option>
    </select>
    <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
      <div component-name="login-usuario"><login-usuario></login-usuario></div>
      <div component-name="visor-cuenta"><visor-cuenta id="11"></visor-cuenta></div>
    </iron-pages>
  </template>

  <script>
    /**
     * @TestIronPages
     * @polymer
     */
    class TestIronPages extends Polymer.Element {
      static get is() { return 'test-iron-pages'; }
      static get properties() {
        console.log('> TestIronPages called ...')
        return {
          componentName: {
            type: String
          }
        };
      }
      showData(data) {
        console.log("> showData called...");
        console.log(data.detail);
        console.log(data.detail.__data.response);
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
      showError(err) {
        console.log("> showError called...");
        console.log(err.detail);
      }
    }

    window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
