<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html"><dom-module id="login-usuario">
<template>
  <style>
    :host {
      display: block;
    }
  </style>   <input placeholder="email" type="email" value="{{email::input}}"></input>
  <input placeholder="password" type="password" value="{{password::input}}"></input>
  <button on-click="login">Login</button>
  <span hidden="{{!isLogged}}">Bienvenido logged user</span>
  <iron-ajax
    id="doLogin"
    url="http://localhost:3000/apitechu/v2/login"
    handle-as="json"
    content-type="application/json"
    method="POST"
    on-response="manageAJAXResponse"
    on-error="showError"
  /> </template> <script>
  /**
   * @customElement
   * @polymer
   */
  class LoginUsuario extends Polymer.Element {
    static get is() { return 'login-usuario'; }
    static get properties() {
      return {
        password: {
          type: String
        }, email: {
          type: String
        }, isLogged: {
            type: Boolean,
            value: false
          }
      };
    }
    login() {
      console.log("El usuario ha pulsado el botón");
      console.log("Voy a enviar la petición");
      var loginData = {
        "email" : this.email,
        "password" : this.password
      };
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      console.log("Petición enviada");
    }
    manageAJAXResponse(data) {
      console.log("Llegaron los resultados de la API");
      console.log(data.detail.response);
      this.isLogged = true;
      window.location = "user/" + data.detail.response.id
    }
    showError(error) {
      console.log("Ha habido un error");
      console.log(error);
    }
  }   window.customElements.define(LoginUsuario.is, LoginUsuario);
</script>
</dom-module>
