<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>Soy el receptor y el hijo leia</h3>
    <h3>Este curso es [[course]]</h3>
    <h3>Estamos en el año [[year]]</h3>
    <input type="text" value={{course::input}}></input>

  </template>

  <script>
    /**
     * @RecpetorEvento
     * @polymer
     */
    class RecpetorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        console.log('> RecpetorEvento called ...')
        return {
          course: {
            type: String,
            observer:'_courseChanged'
          },
          year: {type: String}
        };
      }

      _courseChanged(newValue, oldValue) {
        console.log('El valor de course cambio');
        console.log(`Val.nuevo: ${newValue}, Val.old: ${oldValue}`);
      }
    }

    window.customElements.define(RecpetorEvento.is, RecpetorEvento);
  </script>
</dom-module>
