<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>Soy el emisor y el hijo luke</h3>
    <button on-click="sendEvent">Send Event</button>

  </template>

  <script>
    /**
     * @EmisorEvento
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        console.log('> EmisorEvento called ...')
        return {
        };
      }

      sendEvent(evt) {
        console.log("Se pulso el boton");
        console.log(evt);

        this.dispatchEvent(
            new CustomEvent(
              "myevent",
              {
                "detail": {
                  "course": "TechU",
                  "year": 2018
                }
              }
            )
        )
      }
    }

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
