<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>I'm [[first_name]] [[last_name]]</h2>
    <h3>My email is: [[email]]</h3>

    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @VisorUsuario
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        console.log('> VisorUsuario called ...')
        return {
          id: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          gender: {
            type: String
          },
          pan: {
            type: String
          }
        };
      }
      showData(data) {
        console.log("> showData called...");
        console.log(data.detail);
        console.log(data.detail.__data.response);
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
      showError(err) {
        console.log("> showError called...");
        console.log(err.detail);
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
