<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Aqui no hay nada que ver</h1>

  </template>

  <script>
    /**
     * @PageNotFound
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        console.log('> PageNotFound called ...')
        return {
          id: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          gender: {
            type: String
          },
          pan: {
            type: String
          }
        };
      }
      showData(data) {
        console.log("> showData called...");
        console.log(data.detail);
        console.log(data.detail.__data.response);
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }
      showError(err) {
        console.log("> showError called...");
        console.log(err.detail);
      }
    }

    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
