<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/emisor-evento/emisor-evento.html">
<link rel="import" href="/src/receptor-evento/receptor-evento.html">


<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Yo soy tu padre</h1>
    <emisor-evento on-myevent="handleChildEvent"></emisor-evento>
    <receptor-evento id="receiver"></receptor-evento>
  </template>

  <script>
    /**
     * @GestorEvento
     * @polymer
     */
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        console.log('> GestorEvento called ...')
        return {
        };
      }

      handleChildEvent(evt) {
        console.log('Capturado el evt del emisor');
        console.log(evt);

        this.$.receiver.course = evt.detail.course
        this.$.receiver.year = evt.detail.year
      }
    }

    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
