<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="p9-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        /* border: solid blue; */
        /* all: initial;  Resetear los estilos CSS */
      }
      .redbg {
        background-color: red;
      }

      .greenbg {
        background-color: green;
      }

      .bluebg {
        background-color: blue;
      }

      .greybg {
        background-color: grey;
      }
    </style>
    <div class="row greybg">
        <div class="col-2 offset-1 redbg">Col red</div>
        <div class="col-3 offset-1 greenbg">Col green</div>
        <div class="col-3 offset-2 bluebg">Col blue</div>
    </div>

    <div class="row">
      <button class="btn btn-success btn-sm col-2 offset-4">Login</button>
      <button class="btn btn-info btn-sm col-2 offset-1">Logout</button>
    </div>
    <!--<h2>I'm [[first_name]] [[last_name]]</h2>
    <h3>I'm  [[age]] years old</h3>
    <input type="text" value="{{first_name::input}}"/>
    <input type="range" min="18" value="{{age::input}}" max="99"/> -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class P9App extends Polymer.Element {
      static get is() { return 'p9-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(P9App.is, P9App);
  </script>
</dom-module>
